<include file="Public/header"/>

<body>
<div class="zhuce_top">
<a href="#"><img src="__PUBLIC_HOME__/images/logo.jpg"/></a>
<span class="zhuce_top_spanl">账户注册</span>
<div class="zhuce_top_r">
<div class="zhuce_top_divr">已有婚啦啦账号？</div>
<a  class="a_dl" href="#">登录</a>
</div>
</div>
<div class="zhuce_head">
<div>欢迎注册:</div>
<ul>
<li><span>设置登录名</span></li>
<li><span class="zhuce_head_jt1">&gt;&gt;</span></li>
<li><span>填写账户信息</span></li>
<li><span class="zhuce_head_jt1">&gt;&gt;</span></li>
<li><span class="zhuce_head_self">注册完成</span></li>
</ul>
</div>
<hr class="zhuce_hr" />
<div class="zhuce1_div_form">
<div class="green green_left">恭喜注册成功！您的账号为：</div>
<div class="zhuce1_tr">
<div class="zhuce1_tr_td1">登陆名</div>
<div class="zhuce1_tr_td2" id="dlm_sjh"></div>
</div><!--第一行-->
<div class="zhuce1_tr">
<div class="zhuce1_tr_td1">会员名</div>
<div class="zhuce1_tr_td2" id="hym_sjh"></div>
</div><!--第二行-->
<div class="zhuce1_tr zhuce3_tr_teshu">
<div class="green green_right">新人</div>
<div class="green ">婚礼人</div>
</div><!--第三行-->
<div class="zhuce1_tr">
    <div class="green_bachground"><a href="<{:U('index/index')}>">开始婚礼之旅</a></div>
<div class="green_bachground"><a href="<{:U('zhuce4')}>">注册成为婚礼人</a></div>
</div><!--第四行-->
</div><!--zhuce1_div_form-->





<script src="../js/zhuce_3.js" type="text/javascript"></script>
</body>
</html>
