<include file="Public/header"/>

<body>
<div class="zhuce_top">
<a href="#"><img src="__PUBLIC_HOME__/images/logo.jpg"/></a>
<span class="zhuce_top_spanl">账户注册</span>
<div class="zhuce_top_r">
<div class="zhuce_top_divr">已有婚啦啦账号？</div>
<a  class="a_dl" href="#">登录</a>
</div>
</div>
<div class="zhuce_head zhuce_head_4">
<div>欢迎注册:</div>
<ul>
<li><span>设置登录名</span></li>
<li><span class="zhuce_head_jt1">&gt;&gt;</span></li>
<li><span>填写账户信息</span></li>
<li><span class="zhuce_head_jt1">&gt;&gt;</span></li>
<li><span class="zhuce_head_self">完善婚礼人资料</span></li>
<li><span class="zhuce_head_jt1">&gt;&gt;</span></li>
<li><span>注册完成</span></li>
</ul>
</div>
<hr class="zhuce_hr" />

<div class="zhuce4">
<form name="zhuce" method="post">
<div class="zhuce1_tr">
<div class="zhuce4_tr_td1">上传头像</div>
<input name="file_touxiang" type="file" class="zhuce4_tr_td2" enctype="Multipart/form-data" />
<span id="span_touxiang"></span>
</div><!--第一行-->
<div style="width:280px;height:0px;border-top:1px dashed #666;"></div>
<div class="zhuce1_tr">
<div class="zhuce4_tr_td1">性别</div>
<div class="zhuce4_tr_td2">
<input name="radio_sex" type="radio" class="zhuce4_radio" value="男" />男
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input name="radio_sex" type="radio" class="zhuce4_radio" value="女" />女
</div>
</div><!--第二行-->
<div style="width:280px;height:0px;border-top:1px dashed #666;"></div>
<div class="zhuce1_tr">
<div class="zhuce4_tr_td1">服务形式</div>
<div class="zhuce4_tr_td2">
<input name="radio_fuwuxingshi" type="radio" class="zhuce4_radio" value="个人" />个人
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input name="radio_fuwuxingshi" type="radio" class="zhuce4_radio" value="工作室"  />工作室&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input name="radio_fuwuxingshi" type="radio" class="zhuce4_radio" value="公司"  />公司
</div>
</div><!--第三行-->
<div style="width:350px;height:0px;border-top:1px dashed #666;"></div>
<div class="zhuce1_tr" id="radio_1">
<div class="zhuce4_tr_td1">真实姓名</div>
<input name="name" type="text" class="zhuce4_tr_td2 zhuce4_text"  />
<span id="infor_name"></span>
</div><!--第四行-->
<div class="zhuce1_tr" id="radio_2">
<div class="zhuce4_tr_td1">身份证照</div>
<input name="file_shenfenzheng" type="file" class="zhuce4_tr_td2" enctype="Multipart/form-data" />
<span id="span_shenfenzheng"></span>
</div><!--第五行-->
<div class="zhuce1_tr" id="radio_3">
<div class="zhuce4_tr_td1">营业执照</div>
<input name="file_yingyezhizhao" type="file" class="zhuce4_tr_td2" enctype="Multipart/form-data" />
<span id="span_yingyezhizhao"></span>
</div><!--第六行-->
<div style="width:350px;height:0px;border-top:1px dashed #666;"></div>
<div class="zhuce1_tr">
<div class="zhuce4_tr_td1">所在城市</div>
<select name="address_province" class="zhuce4_tr_td2 zhuce4_select" ></select>
<select name="address_city" class="zhuce4_tr_td2 zhuce4_select" ></select>
<select name="address_county" class="zhuce4_tr_td2 zhuce4_select" ></select>
<span id="span_select"></span>
</div><!--第七行-->
<div class="zhuce1_tr">
<div class="zhuce4_tr_td1">详细地址</div>
<input name="address_juti" type="text" class="zhuce4_tr_td2 zhuce4_text"  />
<span id="infor_address_juti"></span>
</div><!--第八行-->
<div style="width:350px;height:0px;border-top:1px dashed #666;"></div>
<div class="zhuce1_tr">
<div class="zhuce4_tr_td1">联系方式</div>
<span style="padding-left:0px;">&nbsp;Q&nbsp;Q：</span>
<input name="contact_qq" type="text" class="zhuce4_tr_td2 zhuce4_text zhuce4_text_lianxifangshi"  />
<span id="infor_contact_qq"></span>
</div><!--第九行-->
<div class="zhuce1_tr">
<div class="zhuce4_tr_td1"></div>
<span>微信：</span><input name="contact_weixin" type="text" class="zhuce4_tr_td2 zhuce4_text zhuce4_text_lianxifangshi"  />
<span id="infor_contact_weixin"></span>
</div>
<div class="zhuce1_tr">
<div class="zhuce4_tr_td1"></div>
<span>邮箱：</span><input name="contact_email" type="text" class="zhuce4_tr_td2 zhuce4_text zhuce4_text_lianxifangshi"  />
<span id="infor_contact_email"></span>
</div>

<div style="width:700px;height:0px;border-top:1px dashed #666;"></div>
<div class="zhuce1_tr" style="font-size:14px;padding:5px 0px;"><div class="zhuce4_tr_td1">服务内容
</div><div class="zhuce4_tr_td2">（最多两项）<span id="span_checkbox"></span></div>
</div><!--第十行-->
<div class="zhuce4_checkbox" id="zhuce4_checkbox">
<input type="checkbox" name="fuwuneirong" value="策划师"/><span>策划师</span>
<input type="checkbox" name="fuwuneirong" value="司仪" /><span>司仪</span>
<input type="checkbox" name="fuwuneirong" value="跟妆" /><span>跟妆</span>
<input type="checkbox" name="fuwuneirong" value="摄像" /><span>摄像</span>
<input type="checkbox" name="fuwuneirong" value="摄影" /><span>摄影</span><br />
<input type="checkbox" name="fuwuneirong" value="车队" /><span>车队</span>
<input type="checkbox" name="fuwuneirong" value="布置" /><span>布置</span>
<input type="checkbox" name="fuwuneirong" value="舞美" /><span>舞美</span>
<input type="checkbox" name="fuwuneirong" value="演艺" /><span>演艺</span>
<input type="checkbox" name="fuwuneirong" value="酒店" /><span>酒店
</div><!--第九行-->
<div style="width:700px;height:0px;border-top:1px dashed #666;"></div>
<a href="zhuce-5.html" id="zhuce1_xiayibu" class="a_xyb">下一步</a>
</form>
</div>


<script src="__PUBLIC_HOME__/js/zhuce_4.js" type="text/javascript"></script>
</body>
</html>
