/* CSS Document */

/* 默认样式设置*/
/* -moz :火狐私有属性；-weblit :chrome、safari私有属性* -ms IE私有属性*/
body,div,ul,li,a,img,input,form,h1,h2,h3,h4,h5,h6,p,table,tr,td{ font-family: Microsoft YaHei; padding:0px;margin:0px;}
div,ul,li,a,img,input,form,h1,h2,h3,h4,h5,h6,p{
overflow:hidden; font-family: Microsoft YaHei;}
input{box-sizing: content-box;}
img{border:none;}
body{
font-size:12px;
color:#666;
font-family:Microsoft YaHei, Arial, Helvetica, sans-serif,新宋体;
text-align:center;
}
div{text-align:left;}
ul li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-weight:400;}
table,td{border:none; border-collapse:collapse;}
i,em{font-style:normal}
/*全局css*/
/*字体颜色*/
.red{
color:#F76120;
}
/*文字自动换行*/
.warp{
word-break:break-all;}
/*去边框*/
#noborder{
border:none;
}
/*链接样式*/
a{
color:#666;
}
a:link,a:visited {
text-decoration:none;
}
a:hover{
color:#2BB8AA;
}
DIV{
font-size:12px;}
A{
font-size:12px;}
SPAN{
font-size:12px;}
FONT{
font-size:12px;}
TD{
font-size:12px;}
TH{
font-size:12px;}