/* CSS Document */
.zhuce_top{
width:1200px;
height:60px;
margin:0px auto;
padding-top:15px;
}
.zhuce_top a{float:left;}
.zhuce_top_spanl{
font-size:22px;
height:60px;
line-height:60px;
padding-left:10px;
}
.zhuce_top_r{
float:right;
}
.zhuce_top_divr{
font-size:16px;
height:60px;
line-height:60px;
padding-right:10px;
float:left;
}
.zhuce_top_r a{
width:48px;
height:28px;
line-height:28px;
text-align:center;
background-color:#03BA8A;
border:1px solid #03BA8A;
float:right;
margin-top:15px;
display:block;
color:#FFFFFF;
font-size:13px;
}
.zhuce_top_r a:hover{
color:#FFFFFF;
background-color:#00FFDB;
}
.zhuce_head{
height:48px;
width:800px;
margin:0px auto;}
.zhuce_head_4{width:900px;}
.zhuce_head div,.zhuce_head li{
float:left;
height:48px;
line-height:60px;
font-size:18px;
text-align:center;
padding:0px 20px;
}
.zhuce_head_self{
background-color:#03BA8A;
padding:3px;
color:#FFFFFF;
}

.zhuce_hr{
border:1px solid #03BA8A;
}
.zhuce1_div_form{
width:750px;
margin:0px auto;
margin-top:40px;
}
.zhuce1_tr div{float:left;}
.zhuce1_tr_td1{
font-size:14px;
width:100px;
height:28px;
text-align:right;
line-height:28px;
padding:3px 0px;
margin-top:20px;
color:#333;
}
.zhuce1_tr_td2{
width:248px;
height:28px;
line-height:28px;
border:1px solid #AAA;
padding:2px 4px;
margin-left:10px;
margin-top:20px;
font-size:15px;;
}

.a_xyb{
display:block;
width:180px;
height:38px;
line-height:38px;
background-color:#03BA8A;
text-align:center;
margin:20px 0px 20px 140px;
border:1px solid #03BA8A;
color:#FFFFFF;
font-size:18px;
cursor:pointer;
}
.a_xyb:hover{
color:#FFFFFF;
background-color:#00FFDB;
}
.zcxy{
width:800px;
height:450px;
border:2px solid #DEDEDE;
border-top:2px solid red;
position:absolute;
left:300px;
top:80px;
background-color:#fff;
padding:20px 20px;
font-size:12px;
overflow-y:scroll;
}
.zcxy h2{
color:#000000;
margin-bottom:10px;}
.zcxy h3 {
color:#000000;
margin-bottom:5px;}
.tyxy{
display:block;
width:200px;
height:40px;
background-color:#03BA8A;
order:1px solid #03BA8A;
color:#FFFFFF;
text-align:center;
line-height:40px;
font-size:18px;
margin:20px auto;
}
.tyxy:hover{
color:#FFFFFF;
background-color:#00FFDB;
}
.mimaxiaoguo{
margin-left:110px;
padding-top:10px;}
.mimaxiaoguo_fenlei{
width:84px;
height:20px;
margin-right:3px;
background-color:#EEEEEE;
float:left;
color:#FFFFFF;
text-align:center;
}
.zhuce1_tr .zhuce1_tr_teshu{
margin-top:10px;
}
.green{
font-size:18px;
color:#03BA8A;
}
.green_left{padding-left:60px;}
.green_right{padding-right:135px;}
.zhuce3_tr_teshu{padding-top:40px;
padding-left:100px;
padding-bottom:20px;}
.green_bachground a{
display:block;
background-color:#03BA8A;
color:#FFFFFF;
margin-left:60px;
font-size:16px;
padding:10px 10px;
}
.green_bachground a:hover{background-color:#00FFDB;}

.zhuce4{
width:850px;
margin:0px 0px 0px 350px;;
}
.zhuce4_tr_td1{
text-align:right;
margin:10px 0px;
height:25px;
line-height:25px;
font-size:14px;
padding-right:30px;;
width:100px;
color:#333;}
.zhuce4_tr_td2{
height:25px;
line-height:25px;
border:none;
margin:10px 0px;
padding:0px;
font-size:14px;
}
.zhuce4_radio{margin-right:5px;}
.zhuce4_text{border:1px solid #AAA;
padding:0px 4px;
width:180px;}
.zhuce4_text_lianxifangshi{width:130px;}
.zhuce4_select{border:1px solid #AAA;
padding:0px 4px;
width:100px;}
.zhuce1_tr span{
font-size:14px;
padding:0px 5px;}
.zhuce4_checkbox{font-size:14px;margin-left:40px;}
.zhuce4_checkbox input{
margin-right:5px;
}
.zhuce4_checkbox  span{
width:80px;
display:inline-block;
}