<include file="Public/header"/>
<include file="Public/menu"/>

<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Css/public.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC_HOME__/Css/index.css">

<div class="lunbo"><!--//轮播-->
    <div class="lunbo_l">
        <ul>
            <!--            <li><div class="lunbo_l_m">
                                <div class="lunbo_l_m_l">主题布置</div>
                                <div class="lunbo_l_m_r"><table  cellspacing="0">
                                        <tr><td><a href="#">中式</a></td><td><a href="#">西式</a></td><td><a href="#">户外</a></td></tr>
                                        <tr><td><a href="#">教堂</a></td><td><a href="#">色系</a></td><td><a href="#">气球</a></td></tr>
                                    </table></div>
                            </div></li>-->


            <volist id='vo' name='catTree'>
                <li>
                    <div class="lunbo_l_m">
                        <div class="lunbo_l_m_l"><{$vo.cat_name}></div>
                        <div class="lunbo_l_m_r">
                            <table  cellspacing="0">
                                <tr>
                                <volist name='vo.child' id='voc' mod='4'>

                                    <eq name="mod" value="3"></tr><tr></eq>

                                        <td><a href="<{:U('category/index',array('cid'=>$voc['cat_id'],'pid'=>$vo['cat_id']))}>"><{$voc.cat_name}></a></td>

                                </volist>
                                </tr>
                            </table>
                        </div>
                    </div>
                </li>
            </volist>
        </ul>
    </div>
    <div class="lunbo_mm" >
        <!--                        轮         播          上                            -->
        <div class="lunbo_m0"  id="lunbo_m0">
            <div class="lunbo_m"  id="lunbo_m">
                <div class="lunbo_m_gd" id="lunbo_m_gd">
                    <a href="#"><img  src="__PUBLIC_HOME__/images/index/sylb/sylbs-1.jpg" /></a>
                    <a href="#"><img  src="__PUBLIC_HOME__/images/index/sylb/sylbs-2.jpg" /></a>
                    <a href="#"><img  src="__PUBLIC_HOME__/images/index/sylb/sylbs-3.jpg" /></a>
                </div>
            </div>
            <div class="icon icon_left" id="icon_l"  ></div>
            <div class="icon icon_right" id="icon_r"  ></div>
        </div><!--轮播上-->
        <!--                        轮         播          下                            -->
        <div class="lunbo_mx0"  id="lunbo_mx0">
            <div class="lunbo_mx"  id="lunbo_mx">
                <div class="lunbo_mx_gd" id="lunbo_mx_gd">
                    <a href="#"><img  src="__PUBLIC_HOME__/images/index/sylb/sylbx-11.jpg" /></a>
                    <a href="#"><img  src="__PUBLIC_HOME__/images/index/sylb/sylbx-12.jpg" /></a>
                    <a href="#"><img  src="__PUBLIC_HOME__/images/index/sylb/sylbx-13.jpg" /></a>
                    <a href="#"><img  src="__PUBLIC_HOME__/images/index/sylb/sylbx-14.jpg" /></a>
                    <a href="#"><img  src="__PUBLIC_HOME__/images/index/sylb/sylbx-15.jpg" /></a>
                    <a href="#"><img  src="__PUBLIC_HOME__/images/index/sylb/sylbx-21.jpg" /></a>
                    <a href="#"><img  src="__PUBLIC_HOME__/images/index/sylb/sylbx-22.jpg" /></a>
                    <a href="#"><img  src="__PUBLIC_HOME__/images/index/sylb/sylbx-23.jpg" /></a>
                    <a href="#"><img  src="__PUBLIC_HOME__/images/index/sylb/sylbx-24.jpg" /></a>
                    <a href="#"><img  src="__PUBLIC_HOME__/images/index/sylb/sylbx-25.jpg" /></a>
                </div>
            </div>
            <div class="iconx icon_left" id="iconx_l"  ></div>
            <div class="iconx icon_right" id="iconx_r" ></div>
        </div>                                  <!--轮播下-->
    </div>
    <div class="lunbo_r"><div class="lunbo_r_lrhl">
            <div class="lunbo_r_lrhl_t" style="text-align:center; height:50px;"><h1>懒人婚礼</h1><h4>(一键搜索，策划师全程安排)</h4></div>
            <form name="lrhlform" action="lrhl.php" method="get"><table cellspacing="0">
                    <tr><td>婚礼预算:</td><td><input class="lrhlys" type="text" name="lrhlys" value="20000"  maxlength="10" /></td></tr>
                    <tr><td>婚礼风格:</td><td><input class="lrhlfg" type="text" name="lrhlfg" value="中式" maxlength="10" /></td></tr>
                    <tr><td>区域选择:</td><td><input class="lrhlys" type="text" name="lrhlys" value="雨花区"  maxlength="10" /></td></tr>
                </table>
                <input class="lrhlss" type="submit" name="lrhlss" value="开始定制"  />
            </form>
        </div>
        <div class="guanggao"><img src="__PUBLIC_HOME__/images/index/shouyeguanggao1.jpg" />
            <span>诚邀婚礼人免费入驻，从此不再受婚庆公司制约，自由发展</span>
            <img src="__PUBLIC_HOME__/images/index/shouyeguanggao2.jpg" />
            <span>找摄影，找策划，找酒店，一切尽在婚啦啦，让婚礼从此变得简单</span></div>
    </div>
</div><!--//轮播-->


<div class="box"><!--大盒子-->
    <!--                              策   划  模    块   开     始                                        -->
    <a id="a_gj_1"></a>
    <div class="shangpindkj">
        <div class="shangpindkj_title"><a href="#">策划</a></div>
        <div class="shangpindkj_content">

            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->

            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->

            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->

            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->

            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->

            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->

            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->

            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
        </div><!--shangpindkj_content-->
        <div class="shangpin_foot"><a href="#" target="_blank">更多策划师请点击</a></div>
    </div><!--shangpindkj-->
    <!--                              策   划  模    块   结        束                                        -->
    <!--                              场地布置  模    块   开        始                                        -->
    <a  id="a_gj_2"></a>
    <div class="shangpindkj">
        <div class="shangpindkj_title"><a href="#">场地布置</a></div>
        <div class="shangpindkj_content">
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
        </div><!--shangpindkj_content-->
        <div class="shangpin_foot"><a href="#" target="_blank">更多场地布置请点击</a></div>
    </div><!--shangpindkj-->
    <!--                              场   景  模    块   结         束                                       -->
    <!--                              摄  像  师  模    块   开        始                                        -->
    <a id="a_gj_3"></a>
    <div class="shangpindkj">
        <div class="shangpindkj_title"><a href="#">摄像师</a></div>
        <div class="shangpindkj_content">
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
        </div><!--shangpindkj_content-->
        <div class="shangpin_foot"><a href="#" target="_blank">更多摄像师请点击</a></div>
    </div><!--shangpindkj-->
    <!--                              摄像师  模    块   结         束    -->
    <!--                              摄影师  模    块   开         始                                        -->
    <a  id="a_gj_4"></a>
    <div class="shangpindkj">
        <div class="shangpindkj_title"><a href="#">摄影师</a></div>
        <div class="shangpindkj_content">
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
        </div><!--shangpindkj_content-->
        <div class="shangpin_foot"><a href="#" target="_blank">更多摄影师请点击</a></div>
    </div><!--shangpindkj-->
    <!--                              摄影师  模    块   结         束    -->
    <!--                              跟妆师  模    块   开         始                                        -->
    <a  id="a_gj_5"></a>
    <div class="shangpindkj">
        <div class="shangpindkj_title"><a href="#">跟妆师</a></div>
        <div class="shangpindkj_content">
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
        </div><!--shangpindkj_content-->
        <div class="shangpin_foot"><a href="#" target="_blank">更多跟妆师请点击</a></div>
    </div><!--shangpindkj-->
    <!--                              跟妆师  模    块   结         束    -->
    <!--                              车队  模    块   开         始                                        -->
    <a  id="a_gj_6"></a>
    <div class="shangpindkj">
        <div class="shangpindkj_title"><a href="#">车队</a></div>
        <div class="shangpindkj_content">
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
        </div><!--shangpindkj_content-->
        <div class="shangpin_foot"><a href="#" target="_blank">更多车队请点击</a></div>
    </div><!--shangpindkj-->
    <!--                              车队  模    块   结         束    -->
    <!--                              演艺  模    块   开         始                                        -->
    <a  id="a_gj_7"></a>
    <div class="shangpindkj">
        <div class="shangpindkj_title"><a href="#">演艺</a></div>
        <div class="shangpindkj_content">
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
        </div><!--shangpindkj_content-->
        <div class="shangpin_foot"><a href="#" target="_blank">更多演艺请点击</a></div>
    </div><!--shangpindkj-->
    <!--                              演艺  模    块   结         束    -->
    <!--                              舞美  模    块   开         始                                        -->
    <a id="a_gj_8"></a>
    <div class="shangpindkj">
        <div class="shangpindkj_title"><a href="#">舞美</a></div>
        <div class="shangpindkj_content">
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
        </div><!--shangpindkj_content-->
        <div class="shangpin_foot"><a href="#" target="_blank">更多舞美请点击</a></div>
    </div><!--shangpindkj-->
    <!--                              舞美  模    块   结         束    -->
    <!--                              囍铺  模    块   开         始                                        -->
    <a  id="a_gj_9"></a>
    <div class="shangpindkj">
        <div class="shangpindkj_title"><a href="#">囍铺</a></div>
        <div class="shangpindkj_content">
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
        </div><!--shangpindkj_content-->
        <div class="shangpin_foot"><a href="#" target="_blank">更多婚礼用品请点击</a></div>
    </div><!--shangpindkj-->
    <!--                              囍铺  模    块   结         束    -->
    <!--                              酒店  模    块   开         始                                        -->
    <a  id="a_gj_10"></a>
    <div class="shangpindkj">
        <div class="shangpindkj_title"><a href="#">酒店</a></div>
        <div class="shangpindkj_content">
            <for start='0' end='8'>
            
            <div class="shopping">
                <div class="shopping_img"><img src="__PUBLIC_HOME__/images/index/designers/aiqing.jpg"/></div>
                <div class="shopping_title">
                    <div class="shopping_title_name">商品</div>
                    <a href="#">爱情的颜色</a></div>
                <div class="shopping_tr2">
                    <div class="shopping_title_name">策划师</div>
                    <a href="#">汤克嘉</a>
                    <div class="shopping_didian"><img src="__PUBLIC_HOME__/images/index/didian.png"  /><div>湖南 长沙 天心区</div></div>
                </div><!--第二行信息-->
                <div class="shopping_pricepj">
                    <div class="shopping_price">&yen;&nbsp;400</div>
                    <div class="shopping_pjrenshu"><a href="#">300人评价</a></div>
                    <div class="shopping_pingjia"></div>
                </div>
            </div><!--商品1-->
            
            </for>
            
            
        </div><!--shangpindkj_content-->
        <div class="shangpin_foot"><a href="#" target="_blank">更多酒店请点击</a></div>
    </div><!--shangpindkj-->
    <!--                              酒    店      模    块   结         束    -->
    <a  id="a_gj_11"></a>
</div><!--//大盒子-->



<div class="gj_r"><a href="#top"></a></div><!--右侧挂件1-->
<div class="gj_l" id="gj_l">
    <ul>
        <li><a class="a_gj_1" onclick="click_miaodian(this)" id="gj_l_1" onMouseOver="a_mouse(this)" onMouseOut="a_out(this)">策划</a></li>
        <li><a class="a_gj_2" onclick="click_miaodian(this)" id="gj_l_2" onMouseOver="a_mouse(this)" onMouseOut="a_out(this)">场地</a></li>
        <li><a class="a_gj_3" onclick="click_miaodian(this)" id="gj_l_3" onMouseOver="a_mouse(this)" onMouseOut="a_out(this)">摄像</a></li>
        <li><a class="a_gj_4" onclick="click_miaodian(this)" id="gj_l_4" onMouseOver="a_mouse(this)" onMouseOut="a_out(this)">摄影</a></li>
        <li><a class="a_gj_5" onclick="click_miaodian(this)" id="gj_l_5" onMouseOver="a_mouse(this)" onMouseOut="a_out(this)">跟妆</a></li>
        <li><a class="a_gj_6" onclick="click_miaodian(this)" id="gj_l_6" onMouseOver="a_mouse(this)" onMouseOut="a_out(this)">车队</a></li>
        <li><a class="a_gj_7" onclick="click_miaodian(this)" id="gj_l_7" onMouseOver="a_mouse(this)" onMouseOut="a_out(this)">演艺</a></li>
        <li><a class="a_gj_8" onclick="click_miaodian(this)" id="gj_l_8" onMouseOver="a_mouse(this)" onMouseOut="a_out(this)">舞美</a></li>
        <li><a class="a_gj_9" onclick="click_miaodian(this)" id="gj_l_9" onMouseOver="a_mouse(this)" onMouseOut="a_out(this)">喜铺</a></li>
        <li><a class="a_gj_10" onclick="click_miaodian(this)" id="gj_l_10" onMouseOver="a_mouse(this)" onMouseOut="a_out(this)">酒店</a></li>
    </ul>
</div><!--左侧挂件1-->

<script src="__PUBLIC_HOME__/Js/index.js" type="text/javascript"></script>
<include file="Public/footer"/>
